datasets
temp
runs
.vscode
/node_modules
package-lock.json
node_modules
.DS_Store
dist
dist-ssr
*.local
build
.svelte-kit
/package
testing
.*.swp
.*.swo
venv
__pycache__
.ipynb_checkpoints
*.py[cod]
*$py.class
