@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #000;
    --aside-color: #302F32;
    --main-color-1: #FF683C;
    --main-color-2: #4EB6D7;
    --gap: 20px;
}

body {
    font-family: 'Montserrat', Helvetica, sans-serif;
}