* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #dad9eb;
    --background-color: hsl(257, 10%, 14%);
    --aside-color: hsl(257, 10%, 13%);
    --tint: hsl(257, 10%, 5%);
    --main-color-1: #FF683C;
    --main-color-2: #4EB6D7;
    --gap: 20px;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background-color);
    overflow: hidden;
}
