* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: hsl(260, 5%, 20%);
    --background-color: #FFFFFF;
    --aside-color: hsl(257, 10%, 13%);
    --tint: hsl(257, 10%, 5%);
    --main-color-1: #FF683C;
    --main-color-2: #4EB6D7;
    --main-color-3: #FAE49E;
    --main-color-4: #E7F1F2;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: var(--background-color); 
}
