---
import Layout from "@layouts/Layout.astro";
import Alert from "@components/Alert.astro";
---

<Layout title="Donate">
    <article class="mt-16 max-w-4xl mx-auto px-4">
        <div class="mx-auto">
            <h1 class="text-5xl font-bold text-center my-6">What is World4AI?</h1>
            <p class="my-2">World4AI is my answer to the question “How can I push my knowledge in artificial intelligence to an intermediary level, when I start out as a complete beginner?”. World4AI was designed with the philosophy "learning by teaching" in mind, so the main purpose of this website is to have a personalized blog that I can utilize to learn about AI.</p>
            <Alert type="warning">At the moment only a few sections have been written. The whole website is still a work in progress.</Alert>
        </div>
    </article>
</Layout>