---
import Layout from "@layouts/Layout.astro";
import Alert from "@components/Alert.astro";
---

<Layout title="About">
    <article class="mt-16 max-w-4xl mx-auto px-4">
        <div class="mx-auto">
            <h1 class="text-5xl font-bold text-center my-6">Donate</h1>
            <Alert type="info">Coming Soon ...</Alert>
        </div>
    </article>
</Layout>