@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: hsl(260, 5%, 20%);
  --background-color: #ffffff;
  --main-color-1: #ff683c;
  --main-color-2: #4eb6d7;
  --main-color-3: #fae49e;
  --main-color-4: #e7f1f2;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl font-bold my-10 text-center;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold my-5 text-center;
  }

  h3 {
    @apply text-lg md:text-xl lg:text-2xl font-bold my-5 text-center;
  }

  p {
    @apply text-sm md:text-base my-5 leading-6 md:leading-7;
  }

  a {
    @apply text-black underline;
  }
}

/* style scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: white;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: grey;
}
body::-webkit-scrollbar-track {
  background-color: white;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 0.2;
  margin: 10px 0;
}
